body {
  margin: 0;
  font-family: "Fira Sans", sans-serif !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(23, 37, 56);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root {
  height: 100vh;
  background-color: rgb(23, 37, 56);
}


.navbar {
  background-color: rgb(23, 37, 56);
}
